hospital.agenda/resources/AgendaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/agenda/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:agenda="http://hospital/agenda/" xmlns:hos="http://hospital/schema/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://hospital/agenda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://hospital/schema/" schemaLocation="hospital.xsd"/>
		</xsd:schema>
  </types>
  <message name="scheduleTreatmentRequest">
    <part name="treatmentPlan" element="hos:AgendaRequest">
    </part>
  </message>
  <message name="receiveCallbackRequest">
    <part name="treatmentPlan" element="hos:AgendaCallback">
    </part>
  </message>
  <portType name="agendaCallback">
    <operation name="receiveCallback">
      <input message="agenda:receiveCallbackRequest">
    </input>
    </operation>
  </portType>
  <portType name="agenda">
    <operation name="scheduleTreatment">
      <input message="agenda:scheduleTreatmentRequest">
    </input>
    </operation>
  </portType>
  <binding name="AgendaBinding" type="agenda:agenda">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="scheduleTreatment">
      <soap:operation soapAction="http://hospital/agenda/scheduleTreatment"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <binding name="callbackBinding" type="agenda:agendaCallback">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="receiveCallback">
      <soap:operation soapAction="http://hospital/agenda/receiveCallback"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="AgendaService">
    <port name="agenda" binding="agenda:AgendaBinding">
      <soap:address location="http://localhost:9081/hospital.agenda/services/AgendaService"/>
    </port>
  </service>
    <plnk:partnerLinkType name="agendaLinkType">
		<plnk:role name="agenda" portType="agenda:agenda"/>
		<plnk:role name="agendaCallback" portType="agenda:agendaCallback"/>
	</plnk:partnerLinkType>
</definitions>
