hospital.agenda/resources/AgendaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/agenda/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:agenda="http://hospital/agenda/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://hospital/agenda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="PatientID" type="xsd:string"/>
			<xsd:element name="DoctorID" type="xsd:string"/>
			<xsd:element name="RoomID" type="xsd:string"/>
			<xsd:element name="TreatmentPlan">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Duration" type="xsd:duration"/>
						<xsd:element ref="agenda:DoctorID"/>
						<xsd:element ref="agenda:PatientID"/>
						<xsd:element ref="agenda:RoomID"/>
						<xsd:element name="HighPriority" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TreatmentScheduling">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Duration" type="xsd:duration"/>
						<xsd:element ref="agenda:DoctorID"/>
						<xsd:element ref="agenda:PatientID"/>
						<xsd:element ref="agenda:RoomID"/>
						<xsd:element name="When" type="xsd:dateTime"/>
						<xsd:element minOccurs="0" name="WhenOriginally" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </types>
  <message name="scheduleTreatmentRequest">
    <part name="treatmentPlan" element="agenda:TreatmentPlan">
    </part>
  </message>
  <message name="scheduleTreatmentResponse">
    <part name="treatmentScheduling" element="agenda:TreatmentScheduling">
    </part>
  </message>
  <portType name="agenda">
    <operation name="scheduleTreatment">
      <input message="agenda:scheduleTreatmentRequest">
    </input>
      <output message="agenda:scheduleTreatmentResponse">
    </output>
    </operation>
  </portType>
  <binding name="AgendaBinding" type="agenda:agenda">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="scheduleTreatment">
      <soap:operation soapAction="http://hospital/agenda/scheduleTreatment"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AgendaService">
    <port name="agenda" binding="agenda:AgendaBinding">
      <soap:address location="http://localhost:8080/hospital.agenda/services/AgendaService"/>
    </port>
  </service>
</definitions>
