mcl.server/resources/PatientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PatientService" targetNamespace="http://services.mcl.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mcl="http://services.mcl.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.mcl.nl/">
			<xsd:element name="SendMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="importance" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="succes" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="error" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgenda">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="AgendaID" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="OriginalEntryID" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Begin" type="xsd:dateTime">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="End" type="xsd:dateTime">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgendaResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="EntryID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgendaFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="error" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetFreeSlots">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="1" name="AgendaID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetFreeSlotsResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded" minOccurs="0">

						<xsd:element maxOccurs="1" minOccurs="1" name="AgendaID" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Slots" type="mcl:TimeSlot">
						</xsd:element>
					</xsd:sequence>

				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="TimeSlot">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element maxOccurs="1" minOccurs="1" name="begin" type="xsd:dateTime"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="end" type="xsd:dateTime"/>
				</xsd:sequence>


			</xsd:complexType>

			<xsd:complexType name="Room">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="equipment" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Patient">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="phonenumber" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="address" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="Doctor">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="fullname" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="skill" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Treatment">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="requiredSkill" type="xsd:string">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="expectedDuration" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="equipment" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ScheduledTreatment">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="personnel" type="mcl:Doctor">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="room" type="mcl:Room">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="timeslot" type="mcl:TimeSlot"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="treatment" type="mcl:Treatment">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="patients" type="mcl:Patient"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="FindDoctor">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="1" name="requiredSkill" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindDoctorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="candidate" type="mcl:Doctor"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ScheduleTreatment">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="treatment" type="mcl:Treatment">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="doctors" type="mcl:Doctor">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="patients" type="mcl:Patient">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="isEmergency" type="xsd:boolean">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="isFixed" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ScheduleTreatmentResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="result" type="mcl:ScheduledTreatment">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterRooms">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="filter" type="mcl:RoomFilter"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterRoomsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="room" type="mcl:Room">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReserveRoom">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="room" type="mcl:Room"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="slot" type="mcl:TimeSlot">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReserveRoomResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="succes" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="RoomFilter">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="availableSlots" type="mcl:TimeSlot">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageResponse">
    <wsdl:part name="parameters" element="mcl:SendMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMessageFault">
    <wsdl:part name="parameters" element="mcl:SendMessageFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFreeSlotsRequest">
    <wsdl:part name="parameters" element="mcl:GetFreeSlots">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FilterRoomsRequest">
    <wsdl:part name="parameters" element="mcl:FilterRooms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDoctorResponse">
    <wsdl:part name="parameters" element="mcl:FindDoctorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReserveRoomRequest">
    <wsdl:part name="parameters" element="mcl:ReserveRoom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdjustAgendaRequest">
    <wsdl:part name="parameters" element="mcl:AdjustAgenda">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ScheduleTreatmentResponse">
    <wsdl:part name="parameters" element="mcl:ScheduleTreatmentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReserveRoomResponse">
    <wsdl:part name="parameters" element="mcl:ReserveRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDoctorRequest">
    <wsdl:part name="parameters" element="mcl:FindDoctor">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FilterRoomsResponse">
    <wsdl:part name="parameters" element="mcl:FilterRoomsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ScheduleTreatmentRequest">
    <wsdl:part name="parameters" element="mcl:ScheduleTreatment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdjustAgendaResponse">
    <wsdl:part name="parameters" element="mcl:AdjustAgendaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMessageRequest">
    <wsdl:part name="parameters" element="mcl:SendMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFreeSlotsResponse">
    <wsdl:part name="parameters" element="mcl:GetFreeSlotsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdjustAgendaFault">
    <wsdl:part name="parameters" element="mcl:AdjustAgendaFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PatientService">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="mcl:SendMessageRequest">
    </wsdl:input>
      <wsdl:output message="mcl:SendMessageResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="mcl:SendMessageFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SchedulingService">
    <wsdl:operation name="ScheduleTreatment">
      <wsdl:input message="mcl:ScheduleTreatmentRequest">
    </wsdl:input>
      <wsdl:output message="mcl:ScheduleTreatmentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RoomService">
    <wsdl:operation name="FilterRooms">
      <wsdl:input message="mcl:FilterRoomsRequest">
    </wsdl:input>
      <wsdl:output message="mcl:FilterRoomsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveRoom">
      <wsdl:input message="mcl:ReserveRoomRequest">
    </wsdl:input>
      <wsdl:output message="mcl:ReserveRoomResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AgendaService">
    <wsdl:operation name="AdjustAgenda">
      <wsdl:input message="mcl:AdjustAgendaRequest">
    </wsdl:input>
      <wsdl:output message="mcl:AdjustAgendaResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="mcl:AdjustAgendaFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFreeSlots">
      <wsdl:input message="mcl:GetFreeSlotsRequest">
    </wsdl:input>
      <wsdl:output message="mcl:GetFreeSlotsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DoctorService">
    <wsdl:operation name="FindDoctor">
      <wsdl:input message="mcl:FindDoctorRequest">
    </wsdl:input>
      <wsdl:output message="mcl:FindDoctorResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchedulingServiceSOAP" type="mcl:SchedulingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ScheduleTreatment">
      <soap:operation soapAction="http://services.mcl.nl/ScheduleTreatment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgendaServiceSOAP" type="mcl:AgendaService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AdjustAgenda">
      <soap:operation soapAction="http://services.mcl.nl/AdjustAgenda"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFreeSlots">
      <soap:operation soapAction="http://services.mcl.nl/GetFreeSlots"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientServiceSOAP" type="mcl:PatientService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://services.mcl.nl/SendMessage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoctorServiceSOAP" type="mcl:DoctorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindDoctor">
      <soap:operation soapAction="http://services.mcl.nl/FindDoctor"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoomServiceSOAP" type="mcl:RoomService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FilterRooms">
      <soap:operation soapAction="http://services.mcl.nl/FilterRooms"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveRoom">
      <soap:operation soapAction="http://services.mcl.nl/ReserveRoom"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientService">
    <wsdl:port name="PatientServiceSOAP" binding="mcl:PatientServiceSOAP">
      <soap:address location="http://services.mcl.nl/patient"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
