PatientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HospitalServices"
	targetNamespace="http://www.example.org/HospitalServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.example.org/HospitalServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
	<wsdl:types>
		<wsdl:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/HospitalServices/">
			<wsdl:element name="NotifyPatient">
				
                <wsdl:complexType>
					<wsdl:sequence maxOccurs="1" minOccurs="1">

						<wsdl:element name="PatientNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
						</wsdl:element>
						<wsdl:element name="Message" type="xsd:string" maxOccurs="1" minOccurs="1"></wsdl:element>

						<wsdl:element name="Importance" type="xsd:string" maxOccurs="1" minOccurs="0">
						</wsdl:element>
					</wsdl:sequence>
				</wsdl:complexType>
            </wsdl:element>
			<wsdl:element name="NotifyPatientResponse">
				
                <wsdl:complexType>
					<wsdl:sequence maxOccurs="1" minOccurs="1">

						<wsdl:element name="succes" type="xsd:boolean"></wsdl:element>
					</wsdl:sequence>
				</wsdl:complexType>
            </wsdl:element>
			<wsdl:element name="AddPatient">
				
                <wsdl:complexType>
					<wsdl:sequence maxOccurs="1" minOccurs="1">

						<wsdl:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1">
						</wsdl:element>
						<wsdl:element name="adress" type="xsd:string" maxOccurs="1" minOccurs="1">
						</wsdl:element>
						<wsdl:element name="email" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
						</wsdl:element>
						<wsdl:element name="phonenumber" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
						</wsdl:element>
					</wsdl:sequence>
				</wsdl:complexType>
            </wsdl:element>
			<wsdl:element name="AddPatientResponse">
				
                <wsdl:complexType>
					<wsdl:sequence>

						<wsdl:element name="out" type="xsd:string"></wsdl:element>
					</wsdl:sequence>
				</wsdl:complexType>
            </wsdl:element>
		</wsdl:schema>
	</wsdl:types>
	<wsdl:message name="NotifyPatientRequest">
		<wsdl:part name="parameters" element="tns:NotifyPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NotifyPatientResponse">
		<wsdl:part name="parameters" element="tns:NotifyPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddPatientRequest">
		<wsdl:part name="parameters" element="tns:AddPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddPatientResponse">
		<wsdl:part name="parameters" element="tns:AddPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PatientServicePort">
		<wsdl:operation name="NotifyPatient">
			<wsdl:input message="tns:NotifyPatientRequest"></wsdl:input>
			<wsdl:output message="tns:NotifyPatientResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddPatient">
			<wsdl:input message="tns:AddPatientRequest"></wsdl:input>
			<wsdl:output message="tns:AddPatientResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientServiceBinding"
		type="tns:PatientServicePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NotifyPatient">
			<soap:operation
				soapAction="http://www.example.org/HospitalServices/NotifyPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddPatient">
			<soap:operation
				soapAction="http://www.example.org/HospitalServices/AddPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientService">
		<wsdl:port name="NewPort" binding="tns:PatientServiceBinding">
            <soap:address location="http://localhost:8080/medisin/services/scheduling"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>