NewService/PatientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PatientServiceV2" targetNamespace="http://medicare.com/Services/Patient"
  xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:service="http://medicare.com/Services/Patient"
  xmlns:medicare="http://medicare.com/Types">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://medicare.com/Services/Patient">
      <xsd:import schemaLocation="MedicalTypes.xsd" namespace="http://medicare.com/Types" />
      <xsd:element name="Notify">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"></xsd:element>
            <xsd:element name="recipient" type="medicare:Patient"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="RegisterRequest">
    <part name="parameters" element="medicare:person" />
  </message>
  <message name="RegisterResponse">
    <part name="parameters" element="medicare:patient" />
  </message>
  <message name="RegisterFault">
    <part name="error" element="medicare:error" />
  </message>
  <message name="GetAllRequest">
  </message>
  <message name="GetAllResponse">
    <part name="patients" element="medicare:patients"></part>
  </message>
  <message name="NotifyRequest">
    <part name="parameters" element="service:Notify"></part>
  </message>
  <message name="NotifyResponse" />
  <message name="NotifyFault">
    <part name="error" element="medicare:error"></part>
  </message>
  <portType name="PatientServicePort">
    <operation name="Register">
      <input message="service:RegisterRequest" />
      <output message="service:RegisterResponse" />
      <fault name="fault" message="service:RegisterFault" />
    </operation>
    <operation name="GetAll">
      <input message="service:GetAllRequest"></input>
      <output message="service:GetAllResponse"></output>
    </operation>
    <operation name="Notify">
      <input message="service:NotifyRequest"></input>
      <output message="service:NotifyResponse"></output>
      <fault name="fault" message="service:NotifyFault"></fault>
    </operation>
  </portType>
  <binding name="PatientServiceBinding"
    type="service:PatientServicePort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Register">
      <soap:operation
        soapAction="http://medicare.com/Services/Patient/Register" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="fault">
        <soap:fault use="literal" name="fault" />
      </fault>
    </operation>
    <operation name="GetAll">
      <soap:operation
        soapAction="http://medicare.com/Services/Patient/GetAll" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Notify">
      <soap:operation
        soapAction="http://medicare.com/Services/Patient/Notify" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="fault">
        <soap:fault use="literal" name="fault" />
      </fault>
    </operation>
  </binding>
  <service name="PatientService">
    <port name="MainPort" binding="service:PatientServiceBinding">
      <soap:address
        location="http://localhost:8080/NewService/services/PatientService" />
    </port>
  </service>
</definitions>