NewService/RoomService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PatientServiceV2" targetNamespace="http://medicare.com/Services/Room" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:service="http://medicare.com/Services/Room" xmlns:medicare="http://medicare.com/Types">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://medicare.com/Services/Room">
      <xsd:import schemaLocation="MedicalTypes.xsd" namespace="http://medicare.com/Types" />
      <xsd:element name="RoomArrayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="room" type="medicare:Room" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindFilter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="availableTime" type="xsd:duration" />
            <xsd:element ref="medicare:equipment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Reservate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="room" type="xsd:integer" />
            <xsd:element name="timeslot" type="medicare:Timeslot" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="RoomArrayResponse">
    <part name="rooms" element="service:RoomArrayResponse"></part>
  </message>
  <message name="FindRequest">
    <part name="filter" element="service:FindFilter"></part>
  </message>
  <message name="ReservateRequest">
    <part name="reservation" element="service:Reservate"></part>
  </message>
  <message name="GetAllRequest">
  </message>
  <message name="ReservateResponse">
  </message>
  <message name="InitRequest">
  </message>
  <portType name="RoomServicePort">
    <operation name="GetAll">
            <input message="service:GetAllRequest"></input>
            <output message="service:RoomArrayResponse"></output>
    </operation>
    <operation name="Find">
      <input message="service:FindRequest"></input>
      <output message="service:RoomArrayResponse"></output>
    </operation>
    <operation name="Reservate">
      <input message="service:ReservateRequest"></input>
      <output message="service:ReservateResponse"></output>
    </operation>
    <operation name="Init">
            <input message="service:InitRequest"></input>
            <output message="service:RoomArrayResponse"></output>
    </operation>
  </portType>
  <binding name="RoomServiceBinding" type="service:RoomServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetAll">
      <soap:operation soapAction="http://medicare.com/Services/Room/GetAll" />
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Find">
      <soap:operation soapAction="http://medicare.com/Services/Room/Find" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Reservate">
      <soap:operation soapAction="http://medicare.com/Services/Room/Reservate" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Init">
      <soap:operation soapAction="http://medicare.com/Services/Room/init" />
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RoomService">
    <port name="MainPort" binding="service:RoomServiceBinding">
      <soap:address location="http://localhost:8080/NewService/services/RoomService" />
    </port>
  </service>
</definitions>