wsdl/agenda.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/agenda/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:agenda="http://hospital/agenda/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- type definitions -->
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hospital/agenda/">
			<xsd:element name="PatientID" type="xsd:string" />
			<xsd:element name="DoctorID" type="xsd:string" />
			<xsd:element name="RoomID" type="xsd:string" />
			<xsd:element name="TreatmentPlan">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Duration" type="xsd:duration" />
						<xsd:element ref="agenda:DoctorID" maxOccurs="unbounded"/>
						<xsd:element ref="agenda:PatientID" />
						<xsd:element ref="agenda:RoomID" maxOccurs="unbounded"/>
						<xsd:element name="HighPriority" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TreatmentScheduling">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Duration" type="xsd:duration" />
						<xsd:element ref="agenda:DoctorID" />
						<xsd:element ref="agenda:PatientID" />
						<xsd:element ref="agenda:RoomID" />
						<xsd:element name="When" type="xsd:dateTime" />
						<xsd:element name="WhenOriginally" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="OriginalPlan">
            				<xsd:complexType>
            					<xsd:sequence>
            						<xsd:element name="Duration" type="xsd:duration" />
            						<xsd:element ref="agenda:DoctorID" maxOccurs="unbounded"/>
            						<xsd:element ref="agenda:PatientID" />
            						<xsd:element ref="agenda:RoomID" maxOccurs="unbounded"/>
            						<xsd:element name="HighPriority" type="xsd:boolean" />
            					</xsd:sequence>
            				</xsd:complexType>
            			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="scheduleTreatmentRequest">
		<part name="treatmentPlan" element="agenda:TreatmentPlan" />
	</message>
	<message name="scheduleTreatmentResponse">
	<part name="treatmentScheduling" element="agenda:TreatmentScheduling"/>
	</message>

	<!-- portType definitions -->
	<portType name="agenda">
		<operation name="scheduleTreatment">
			<input message="agenda:scheduleTreatmentRequest" />
			<output message="agenda:scheduleTreatmentResponse" />
		</operation>
	</portType>

	<!-- binding definition -->
	<binding name="AgendaBinding" type="agenda:agenda">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="scheduleTreatment">
			<soap:operation soapAction="http://hospital/agenda/scheduleTreatment" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<!-- Service defines the address of Web service -->
	<service name="AgendaService">
		<port binding="agenda:AgendaBinding" name="agenda">
			<soap:address location="http://localhost:8080/hospital.agenda/services/AgendaService" />
		</port>
	</service>
</definitions>