wsdl/agenda.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/agenda/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:agenda="http://hospital/agenda/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hos="http://hospital/schema/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
	<!-- type definitions -->
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hospital/agenda/">
			<xsd:import schemaLocation="./hospital.xsd" namespace="http://hospital/schema/" />
		</xsd:schema>
	</types>
	<message name="scheduleTreatmentRequest">
		<part name="treatmentPlan" element="hos:AgendaRequest" />
	</message>
	<message name="receiveCallbackRequest">
		<part name="treatmentPlan" element="hos:AgendaCallback" />
	</message>

	<!-- portType definitions -->
	<portType name="agenda">
		<operation name="scheduleTreatment">
			<input message="agenda:scheduleTreatmentRequest" />
		</operation>
	</portType>
	<portType name="agendaCallback">
		<operation name="receiveCallback">
			<input message="agenda:receiveCallbackRequest" />
		</operation>
	</portType>

	<plnk:partnerLinkType name="agendaLinkType">
		<plnk:role name="agenda" portType="agenda:agenda" />
		<plnk:role name="agendaCallback" portType="agenda:agendaCallback" />
	</plnk:partnerLinkType>

	<!-- binding definition -->
	<binding name="AgendaBinding" type="agenda:agenda">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="scheduleTreatment">
			<soap:operation soapAction="http://hospital/agenda/scheduleTreatment" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<!-- Service defines the address of Web service -->
	<binding name="callbackBinding" type="agenda:agendaCallback">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="receiveCallback">
			<soap:operation soapAction="http://hospital/agenda/receiveCallback" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<service name="AgendaService">
		<port binding="agenda:AgendaBinding" name="agenda">
			<soap:address location="http://localhost:9080/hospital.agenda/services/AgendaService" />
		</port>
	</service>
	<service name="AgendaCallbackService">
		<port name="agendaCallback" binding="agenda:callbackBinding">
			<soap:address location="http://localhost:8080/ode/processes/AgendaCallbackService" />
		</port>
	</service>
</definitions>