wsdl/room.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/room/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:room="http://hospital/room/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- type definitions -->
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://hospital/room/">
			<xsd:element name="RoomID" type="xsd:string" />
			<xsd:element name="RoomIDs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="room:RoomID" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Item" type="xsd:string" />
			<xsd:element name="Items">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="room:Item" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	
	<message name="findRoomRequest">
		<part name="items" element="room:Items"/>
	</message>
	<message name="findRoomResponse">
		<part name="roomIDs" element="room:RoomIDs"/>
	</message>


	<!-- portType definitions -->
	<portType name="room">
		<operation name="findRoom">
			<input message="room:findRoomRequest" />
			<output message="room:findRoomResponse" />
		</operation>
	</portType>

	<!-- binding definition -->
	<binding name="RoomBinding" type="room:room">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="findRoom">
			<soap:operation
				soapAction="http://hospital/room/findRoom" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<!-- Service defines the address of Web service -->
	<service name="RoomService">
		<port binding="room:RoomBinding" name="room">
			<soap:address
				location="http://localhost:8080/hospital.room/services/RoomService" />
		</port>
	</service>
</definitions>