NewService/webcontent/WEB-INF/services/PatientService/META-INF/PatientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PatientServiceV2" targetNamespace="http://medicare.com/Services/Patient" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:service="http://medicare.com/Services/Patient" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:medicare="http://medicare.com/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://medicare.com/Types" schemaLocation="MedicalTypes.xsd"/>
    </schema>
  </types>
  <message name="RegisterPatientResponse">
    <part name="parameters" element="medicare:patient">
    </part>
  </message>
  <message name="RegisterPatientFault">
    <part name="error" element="medicare:error">
    </part>
  </message>
  <message name="GetAllResponse">
    <part name="patients" element="medicare:patients">
    </part>
  </message>
  <message name="GetAllRequest">
  </message>
  <message name="RegisterPatientRequest">
    <part name="parameters" element="medicare:person">
    </part>
  </message>
  <portType name="PatientServicePort">
    <operation name="RegisterPatient">
      <input message="service:RegisterPatientRequest">
    </input>
      <output message="service:RegisterPatientResponse">
    </output>
      <fault name="fault" message="service:RegisterPatientFault">
    </fault>
    </operation>
    <operation name="GetAll">
      <input message="service:GetAllRequest">
    </input>
      <output message="service:GetAllResponse">
    </output>
    </operation>
  </portType>
  <binding name="PatientServiceBinding" type="service:PatientServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RegisterPatient">
      <soap:operation soapAction="http://medicare.com/Services/Patient/RegisterPatient"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetAll">
      <soap:operation soapAction="http://medicare.com/Services/Patient/GetAll"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PatientService">
    <port name="MainPort" binding="service:PatientServiceBinding">
      <soap:address location="http://localhost:8080/mcl.server/services/PatientService"/>
    </port>
  </service>
</definitions>
