mcl.server/PatientService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mcl="http://services.mcl.nl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientService"
	targetNamespace="http://services.mcl.nl/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://services.mcl.nl/">
			<xsd:element name="SendMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patientID" type="xsd:string"
							maxOccurs="1" minOccurs="1" />
						<xsd:element name="message" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="importance" type="xsd:string"
							maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="succes" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="error" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgenda">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="AgendaID" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="OriginalEntryID" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Begin" type="xsd:dateTime"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="End" type="xsd:dateTime" maxOccurs="1"
							minOccurs="0">
						</xsd:element>
						<xsd:element name="Title" type="xsd:string" maxOccurs="1"
							minOccurs="0">
						</xsd:element>
						<xsd:element name="Description" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgendaResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="EntryID" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AdjustAgendaFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="error" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetFreeSlots">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="AgendaID" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetFreeSlotsResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded" minOccurs="0">

						<xsd:element name="AgendaID" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Slots" type="mcl:TimeSlot"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="TimeSlot">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="begin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="end" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Room">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="equipment" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Patient">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="name" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="phonenumber" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="email" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="address" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="Doctor">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="fullname" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="skill" type="xsd:string" maxOccurs="unbounded"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Treatment">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="1">
					</xsd:element>
					<xsd:element name="requiredSkill" type="xsd:string"
						maxOccurs="unbounded" minOccurs="1">
					</xsd:element>

					<xsd:element name="expectedDuration" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="equipment" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ScheduledTreatment">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" maxOccurs="1"
						minOccurs="1">
					</xsd:element>
					<xsd:element name="personnel" type="mcl:Doctor"
						maxOccurs="unbounded" minOccurs="1">
					</xsd:element>
					<xsd:element name="room" type="mcl:Room" maxOccurs="1"
						minOccurs="1">
					</xsd:element>
					<xsd:element name="timeslot" type="mcl:TimeSlot"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="treatment" type="mcl:Treatment"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="patients" type="mcl:Patient"
						maxOccurs="unbounded" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="FindDoctor">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="requiredSkill" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindDoctorResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="candidate" type="mcl:Doctor" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ScheduleTreatment">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="treatment"
							type="mcl:Treatment" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="doctors" type="mcl:Doctor" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
						<xsd:element name="patients"
							type="mcl:Patient" maxOccurs="unbounded" minOccurs="1">
						</xsd:element>
						<xsd:element name="isEmergency"
							type="xsd:boolean" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="isFixed" type="xsd:boolean"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ScheduleTreatmentResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="result"
							type="mcl:ScheduledTreatment">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterRooms">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="filter" type="mcl:RoomFilter"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FilterRoomsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="room" type="mcl:Room"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReserveRoom">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="room" type="mcl:Room" maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="slot" type="mcl:TimeSlot" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReserveRoomResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="succes" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="RoomFilter">
				<xsd:sequence>
					<xsd:element name="availableSlots"
						type="mcl:TimeSlot" maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SendMessageRequest">
		<wsdl:part element="mcl:SendMessage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendMessageResponse">
		<wsdl:part element="mcl:SendMessageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendMessageFault">
		<wsdl:part name="parameters" element="mcl:SendMessageFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AdjustAgendaRequest">
		<wsdl:part name="parameters" element="mcl:AdjustAgenda"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AdjustAgendaResponse">
		<wsdl:part name="parameters" element="mcl:AdjustAgendaResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AdjustAgendaFault">
		<wsdl:part name="parameters" element="mcl:AdjustAgendaFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetFreeSlotsRequest">
		<wsdl:part name="parameters" element="mcl:GetFreeSlots"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetFreeSlotsResponse">
		<wsdl:part name="parameters" element="mcl:GetFreeSlotsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FindDoctorRequest">
		<wsdl:part name="parameters" element="mcl:FindDoctor"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FindDoctorResponse">
		<wsdl:part name="parameters" element="mcl:FindDoctorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ScheduleTreatmentRequest">
		<wsdl:part name="parameters" element="mcl:ScheduleTreatment"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ScheduleTreatmentResponse">
		<wsdl:part name="parameters" element="mcl:ScheduleTreatmentResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FilterRoomsRequest">
		<wsdl:part name="parameters" element="mcl:FilterRooms"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FilterRoomsResponse">
		<wsdl:part name="parameters" element="mcl:FilterRoomsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReserveRoomRequest">
		<wsdl:part name="parameters" element="mcl:ReserveRoom"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReserveRoomResponse">
		<wsdl:part name="parameters" element="mcl:ReserveRoomResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AgendaService">
		<wsdl:operation name="AdjustAgenda">
			<wsdl:input message="mcl:AdjustAgendaRequest"></wsdl:input>
			<wsdl:output message="mcl:AdjustAgendaResponse"></wsdl:output>
			<wsdl:fault name="fault" message="mcl:AdjustAgendaFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFreeSlots">
			<wsdl:input message="mcl:GetFreeSlotsRequest"></wsdl:input>
			<wsdl:output message="mcl:GetFreeSlotsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PatientService">
		<wsdl:operation name="SendMessage">
			<wsdl:input message="mcl:SendMessageRequest" />
			<wsdl:output message="mcl:SendMessageResponse" />
			<wsdl:fault name="fault" message="mcl:SendMessageFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DoctorService">
		<wsdl:operation name="FindDoctor">
			<wsdl:input message="mcl:FindDoctorRequest"></wsdl:input>
			<wsdl:output message="mcl:FindDoctorResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SchedulingService">
		<wsdl:operation name="ScheduleTreatment">
			<wsdl:input message="mcl:ScheduleTreatmentRequest"></wsdl:input>
			<wsdl:output message="mcl:ScheduleTreatmentResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="RoomService">
		<wsdl:operation name="FilterRooms">
			<wsdl:input message="mcl:FilterRoomsRequest"></wsdl:input>
			<wsdl:output message="mcl:FilterRoomsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReserveRoom">
			<wsdl:input message="mcl:ReserveRoomRequest"></wsdl:input>
			<wsdl:output message="mcl:ReserveRoomResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientServiceSOAP" type="mcl:PatientService">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendMessage">

			<soap:operation soapAction="http://services.mcl.nl/SendMessage" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AgendaServiceSOAP" type="mcl:AgendaService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AdjustAgenda">
			<soap:operation
				soapAction="http://services.mcl.nl/AdjustAgenda" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFreeSlots">
			<soap:operation
				soapAction="http://services.mcl.nl/GetFreeSlots" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SchedulingServiceSOAP"
		type="mcl:SchedulingService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ScheduleTreatment">
			<soap:operation
				soapAction="http://services.mcl.nl/ScheduleTreatment" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RoomServiceSOAP" type="mcl:RoomService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FilterRooms">
			<soap:operation
				soapAction="http://services.mcl.nl/FilterRooms" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReserveRoom">
			<soap:operation
				soapAction="http://services.mcl.nl/ReserveRoom" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DoctorServiceSOAP" type="mcl:DoctorService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindDoctor">
			<soap:operation
				soapAction="http://services.mcl.nl/FindDoctor" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientService">
		<wsdl:port binding="mcl:PatientServiceSOAP" name="PatientServiceSOAP">
			<soap:address location="http://services.mcl.nl/patient" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="AgendaService">
		<wsdl:port name="AgendaServiceSOAP" binding="mcl:AgendaServiceSOAP">
			<soap:address location="http://services.mcl.nl/agenda" />
		</wsdl:port>
	</wsdl:service>	<wsdl:service name="DoctorService">		<wsdl:port name="DoctorServiceSOAP" binding="mcl:DoctorServiceSOAP">			<soap:address location="http://services.mcl.nl/doctor" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="RoomService">
		<wsdl:port name="RoomServiceSOAP" binding="mcl:RoomServiceSOAP">
			<soap:address location="http://services.mcl.nl/room" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SchedulingService">
		<wsdl:port name="SchedulingServiceSOAP" binding="mcl:SchedulingServiceSOAP">
			<soap:address location="http://services.mcl.nl/scheduling" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
