mcl.server/PatientService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mcl="http://services.mcl.nl/PatientService/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientService"
	targetNamespace="http://services.mcl.nl/PatientService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://services.mcl.nl/PatientService/">
			<xsd:element name="SendMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PatientNumber" type="xsd:string"
							maxOccurs="1" minOccurs="1" />
						<xsd:element name="Message" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="Importance" type="xsd:string"
							maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="succes" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMessageFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="error" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SendMessageRequest">
		<wsdl:part element="mcl:SendMessage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendMessageResponse">
		<wsdl:part element="mcl:SendMessageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendMessageFault">
		<wsdl:part name="parameters" element="mcl:SendMessageFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PatientService">
		<wsdl:operation name="SendMessage">
			<wsdl:input message="mcl:SendMessageRequest" />
			<wsdl:output message="mcl:SendMessageResponse" />
			<wsdl:fault name="fault" message="mcl:SendMessageFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientServiceSOAP" type="mcl:PatientService">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendMessage">

			<soap:operation soapAction="http://services.mcl.nl/PatientService/SendMessage" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientService">
		<wsdl:port binding="mcl:PatientServiceSOAP" name="PatientServiceSOAP">
			<soap:address location="http://services.mcl.nl/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
