hospital.doctor/resources/DoctorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/doctor/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:doctor="http://hospital/doctor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://hospital/doctor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="DoctorID" type="xsd:string"/>
			<xsd:element name="DoctorIDs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="doctor:DoctorID"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Skill" type="xsd:string"/>
			<xsd:element name="Skills">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="doctor:Skill"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Notification">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Message" type="xsd:string"/>
						<xsd:element ref="doctor:DoctorID"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </types>
  <message name="notifyRequest">
    <part name="notification" element="doctor:Notification">
    </part>
  </message>
  <message name="findDoctorResponse">
    <part name="doctorIDs" element="doctor:DoctorIDs">
    </part>
  </message>
  <message name="findDoctorRequest">
    <part name="skills" element="doctor:Skills">
    </part>
  </message>
  <portType name="doctor">
    <operation name="findDoctor">
      <input message="doctor:findDoctorRequest">
    </input>
      <output message="doctor:findDoctorResponse">
    </output>
    </operation>
    <operation name="notify">
      <input message="doctor:notifyRequest">
    </input>
    </operation>
  </portType>
  <binding name="DoctorBinding" type="doctor:doctor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findDoctor">
      <soap:operation soapAction="http://hospital/doctor/findDoctor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="notify">
      <soap:operation soapAction="http://hospital/doctor/notify"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="DoctorService">
    <port name="doctor" binding="doctor:DoctorBinding">
      <soap:address location="http://localhost:8080/hospital.doctor/services/DoctorService"/>
    </port>
  </service>
</definitions>
