hospital.doctor/WebContent/WEB-INF/services/DoctorService/META-INF/DoctorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://hospital/doctor/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:doctor="http://hospital/doctor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:hos="http://hospital/schema/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://hospital/doctor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://hospital/schema/" schemaLocation="hospital.xsd"/>
		</xsd:schema>
  </types>
  <message name="notifyRequest">
    <part name="notification" element="hos:AgendaCallback">
    </part>
  </message>
  <message name="findDoctorResponse">
    <part name="doctorIDs" element="hos:DoctorIDs">
    </part>
  </message>
  <message name="findDoctorRequest">
    <part name="skills" element="hos:Skills">
    </part>
  </message>
  <portType name="doctor">
    <operation name="findDoctor">
      <input message="doctor:findDoctorRequest">
    </input>
      <output message="doctor:findDoctorResponse">
    </output>
    </operation>
    <operation name="notify">
      <input message="doctor:notifyRequest">
    </input>
    </operation>
  </portType>
  <binding name="DoctorBinding" type="doctor:doctor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findDoctor">
      <soap:operation soapAction="http://hospital/doctor/findDoctor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="notify">
      <soap:operation soapAction="http://hospital/doctor/notify"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="DoctorService">
    <port name="doctor" binding="doctor:DoctorBinding">
      <soap:address location="http://localhost:9080/hospital.doctor/services/DoctorService"/>
    </port>
  </service>
    <plnk:partnerLinkType name="doctorLinkType">
		<plnk:role name="doctor" portType="doctor:doctor"/>
	</plnk:partnerLinkType>
</definitions>
